<html>
<body>
<a href="items/new">New Items</a>
<h2>List of Items</h2>
<ul>
  <li>item 1<a href="/item/1">Show Item</a></li>
  <li>item 2<a href="/item/2">Show Item</a></li>
  <li>item 3<a href="/item/3">Show Item</a></li>
</ul>
</body>
</html>