<html>
<body>
<form action="/items" method="post">
  <div>
    <label for="name">New Menu Item:</label>
    <input type="text" id="name" name="name" />
  </div>
  <div class="button">
    <button type="submit">Submit Item</button>
  </div>
</form>
</body>
</html>

